<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

    <div id="page">
        <div id="content">

            <!--HEADER SECTION -->
            <div id="header">
                {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                {{ if eq $url "" }}
                	<a href="{{ .Site.BaseURL }}">L(A)G</a>
                {{ else }}
                	{{ if .Params.heading }}
                		{{ .Params.heading }} 
                	{{ else }}
                		{{ .Title }}
                		<a class="lag" href="{{ .Site.BaseURL }}">L(A)G</a>
                	{{ end }}
				{{ end }}
                <p style="white-space: nowrap;">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>

