{{ partial "header.html" . }}

<div id="list">
    <ul>
    
        {{ $paginator := .Paginate (where .Site.Pages "Type" "update") }}
        {{ range .Data.Pages }}
        <li>
            <a href="{{ .Permalink }}">
                <span class="tag">[{{ .Params.tipo }}]</span><span>{{ .Title }}</span>
            </a>
        </li>
        {{ end }}

    </ul>

</div>
{{ partial "footer.html" . }}

