@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'),
       url('../fonts/share-tech-mono-v6-latin-regular.woff2') format('woff2'),
       url('../fonts/share-tech-mono-v6-latin-regular.woff') format('woff'); 
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	letter-spacing: 0.1px; 
	padding: 0; 
	margin: 0; 
	font-family: 'Share Tech Mono', Monospace, Courier;
	font-weight: 400;
	font-size: 17px; 
	background: #1C1D21;
	color: #EEEFF7;
}

pre {
	padding: 0; 
	margin: 0 0 50px 0; 
}

ul {
	padding: 0 0 0 20px;
	margin: 10px 0 30px 0;
	list-style-type: square;
}

span {
	padding: 0; 
	margin: 0 10px 0 0;
}

li {
	margin: 15px 0; 
	padding: 0; 
}

a { 
	text-decoration: none; 
	color: #68A7FF;
	transition-duration: 0.2s;
}

a:hover { 
	text-decoration: underline;
}

p { 
	padding: 0; 
	margin: 10px 0 30px 0;
}

img { 
	max-width: 100%; 
	margin-bottom: 20px;
}

#page {
	max-width: 100%; 
	min-height: 100%; 
	margin: auto; 
	padding: 80px;
}

#header {
	text-transform: uppercase;
	margin-bottom: 40px;
}

#header a.lag {
	float: right;
}

#header a:hover {
	text-decoration: none;
}


#content {
	width: 100%;
}

#header, #footer {
	width: 100%; 
	overflow: hidden; 
	letter-spacing: 0px;
}

#list {
	margin-bottom: 50px; 
	margin-top: -30px; 
	text-transform: uppercase;
}

#post {
	max-width: 720px; 
	margin-bottom: 20px; 
	margin-top: -10px; 
	line-height: 28px;
}

.categories {
	max-width: 300px; 
	right:0; 
	margin: 40px 60px 0 0; 
	position: fixed; 
	background: #222;
	text-align: right; 
	z-index: 0;
}

@media all and (max-width: 1000px) and (min-width: 20px) {
	.categories {
		visibility: hidden;
	}
	.catbox {
		visibility: hidden;
	}
}

.catbox {
	width: 300px; 
	height: 160px; 
	right:0; 
	margin:0; 
	position: absolute; 
	background: #222;
    display: block; 
    z-index: 999;
}

.footdogs {
	margin:0 5px
}

.tag {
	color: #c8c8c8;
}

.important {
	margin-left: -18px;
}

.title {
	display: inline-block; 
	margin-bottom: 20px; 
	margin-top: 20px;
}

.code {
	max-width: 720px; 
	background: #1f1f1f; 
	padding: 20px; 
	margin: 10px 0 30px 0; 
	display: inline-block;
}

.codesmall {
	background: #1f1f1f; 
	display: inline-block;
}

.filter {
	display:block; 
	margin-bottom: 30px; 
	margin-top: -20px;
}

.description {
	background: #1f1f1f; 
	padding: 10px 0 10px 10px; 
	margin-top: 0px;
}

